
.navbar a.btn-primary {
    background-color: transparent;
    color: white;
    border-color: transparent;
  }
  
  .navbar a.btn-primary:hover {
        background-color: #0f2640;
        color: white;
        border-color: transparent;
      }
    
  
  *{
    font-family: 'Readex Pro', sans-serif;
    
  }
  
  .inputxt {
    border-radius: 8px;
  }
  
  body {
    background-color: #c1eef6;  
  }
  
  .seleccionado {
    background-color: #0f2640 !important;
    color: white;
    border-color: transparent;
  }

  .form-control::placeholder {
    color: #ccc;
  }

/*--------BOTONES DE REGISTRO Y MODIFICAR ----------*/

.cuadro-boton-activo{
  padding: 2px;
  border: 3px solid black;
  border-radius: 30px;
  padding: 0 ;
  background: #0f2640;
}

.boton-cl{
  padding: 100px;
  border-radius: 30px;
  background: #778da9;
  position: relative;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(3 , 30, 72, .4);
  margin: 0;
}

.boton-cl:hover{
  background: #0f2640;
  color: #778da9;
  transition: .5s;
}

.agregar-cliente{
  position:absolute;
  z-index: 100;
  right: 35%;
  bottom: 10%;
  font-size: 80px;
  
}


.modificar-cliente{
  position:absolute;
  z-index: 100;
  right: 35%;
  bottom: 10%;
  font-size: 80px;
}

button > p {
  position: relative;
  bottom: 50px;
}

/*-------- Estilos para eventos de formulario y botones --------------*/

.formulario_inactivo{
  display:none;
}

.formulario_activo{
  font-display: block;
}